option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    SUPABASE_URL: https://myiyrmiiywwgismcpith.supabase.co
    SUPABASE_SERVICE_ROLE_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aXlybWlpeXd3Z2lzbWNwaXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTgwODM0NiwiZXhwIjoyMDc1Mzg0MzQ2fQ.WWqfmf8hai5mVBC4iZcfjjlpNfkdd_IHk9NNju2Ehjc
    SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aXlybWlpeXd3Z2lzbWNwaXRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4MDgzNDYsImV4cCI6MjA3NTM4NDM0Nn0.DGRKcZmPvatheWOlukc7sjGU8ufYlSiW03L47Q_YWyI
    JWT_SECRET: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15aXlybWlpeXd3Z2lzbWNwaXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTgwODM0NiwiZXhwIjoyMDc1Mzg0MzQ2fQ.WWqfmf8hai5mVBC4iZcfjjlpNfkdd_IHk9NNju2Ehjc
    CORS_ORIGIN: https://i-yaya-admin.vercel.app,https://iyaya-backend-envupdate.eba-2impdjqs.us-east-1.elasticbeanstalk.com
    EMAIL_HOST: smtp.gmail.com
    EMAIL_PORT: 587
    EMAIL_SECURE: false
    EMAIL_FROM: doorknock28@gmail.com
    EMAIL_USERNAME: doorknock28@gmail.com
    EMAIL_PASSWORD: gpbrabdorystidmk
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: '8081'
